[DEFAULT]
HOMEDIR: /Users/jak/work/gxd_htLearning

# data directory in format that sklearn.datasets.load_files() wants
# Directory where training data lives - split into "no", "yes" subdirectories
#    as desired by sklearn.datasets.load_files()
TRAINING_DATA: %(HOMEDIR)s/Data/training/current
#TRAINING_DATA: %(HOMEDIR)s/Data/test

# tab delimited file of experiments to predict relevance for
DATA_TO_PREDICT: %(HOMEDIR)s/Data/predict/predictExperiments.tsv

BLESSED_MODEL: %(HOMEDIR)s/Blessed/BlessedModel.pkl
#BLESSED_MODEL: %(HOMEDIR)s/BlessedModel.test.pkl

# Handling of ENCODE experiments
ENCODE_ID_PREFIX = ENCSR	; ID prefix in ENCODE experiment titles
KEEP_ENCODE = false		; keep ENCODE experiments?

# name of preprocessor function to call to help prepare documents
#  NEED to figure out/represent which module this lives in
PREPROCESSOR = vectorizer_preprocessor_stem
#PREPROCESSOR = None

# In this dataset, these ints have this mapping to the
#  label/classification/target names
INDEX_OF_YES = 1
INDEX_OF_NO  = 0
CLASS_NAMES  = [ 'no', 'yes'] ; mapping INDEX_OF_YES/NO to their class name


[MODEL_TUNING]
# Where to write index file during tuning runs
TUNING_INDEX_FILE: index.out

# filename prefix to add "_test.tsv", "_training.tsv" to when outputing files
# of predictions for the test and training sets while running a model tuning
#  script
PRED_OUTPUT_FILE_PREFIX: predictions

# Fscore beta to use for comparing Pipelines/models during tuning
GRIDSEARCH_BETA = 4	; default Fscore beta for comparing params in GridSearch
COMPARE_BETA    = 4	; use when comparing different models (outside GS)

TEST_SPLIT      = 0.20	; fraction of sample set to use for test set
GRIDSEARCH_CV   = 5	; number of GridSearch fits (folds) to use
